name: Deploy Ice Launcher
on:
  push:
    tags:
      - '*'
jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: python -m pip install hatch
      - run: python -m hatch env create pyinstaller
      - run: python -m hatch run pyinstaller:build
      - run: zip -r "IceLauncher-macos-x64.zip" "dist/Ice Launcher.app"
      - uses: softprops/action-gh-release@v1
        with:
          files: IceLauncher-macos-x64.zip
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: python -m pip install hatch
      - run: python -m hatch env create pyinstaller
      - run: python -m hatch run pyinstaller:build
      - run: zip -r "IceLauncher-linux-x86_64.zip" "dist/Ice Launcher"
      - uses: softprops/action-gh-release@v1
        with:
          files: IceLauncher-linux-x86_64.zip
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: python -m pip install hatch
      - run: python -m hatch env create pyinstaller
      - run: python -m hatch run pyinstaller:build
      - run: Compress-Archive -Path 'dist\Ice Launcher' -DestinationPath 'IceLauncher-windows-x86_64.zip'
      - uses: softprops/action-gh-release@v1
        with:
          files: IceLauncher-windows-x86_64.zip
